@charset "utf-8";

a {
	text-decoration: none;
	color: black;
}

a:hover{
color: white;
transition: 2s;
}

p {
	font-size: 30px;
text-align: center;
color: white;
}

body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
background-size: cover;
  background-size: 100% 100%;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}